*.log
*.lck
*.ctrl
*.dat
*.sqlite
*.1
*.bak
*.bak2
*.db
.afp*
AntiXRayData/PlayerData/
AuthMe/config.yml
AuthMe/players.yml
CommandBook/sessions/
CommandBook/bans.csv
CommunityBridge/config.yml
PurpleIRC/bots/
dynmap/web/tiles/
dynmap/web/standalone/*.json
dynmap/ids-by-ip.txt
dynmap/hiddenplayers.txt
dynmap/version.txt
dynmap/*.pending
Gringotts/GringottsDB/
PermissionsEx/includes/
PluginMetrics/
Prism/config.php
Stats/web/config.php
Updater/
update/
WorldGuard/report.txt
displayName.cache
Votifier/rsa/
