*.log
*.lck
*.ctrl
*.dat
*.sqlite
*.1
*.bak
*.bak2
*.db
.afp*
AntiXRayData/PlayerData/
AuthMe/config.yml
AuthMe/players.yml
CommandBook/sessions/
CommandBook/bans.csv
PurpleIRC/bots/
dynmap/web/tiles/
dynmap/web/standalone/*.json
dynmap/ids-by-ip.txt
dynmap/hiddenplayers.txt
dynmap/version.txt
dynmap/dynmap_access.php
dynmap/world.pending
Gringotts/GringottsDB/
PermissionsEx/includes/
PluginMetrics/
PopulationDensityData/PlayerData/
PopulationDensityData/RegionData/
Prism/config.php
ProtocolLib/lastupdate
update/
Updater/
WorldGuard/report.txt
WebPortal/web.yml
resource_n.pending
resource.pending
